/* img {
    max-width: 50%;
  height: auto;
  } */


  .box {
    width: 30%;
    height: 200px;
    border: 5px dashed #f7a239;
  }
  img {
    width: 25%;
    height: 25%;
    /* height: auto;*/
  } 

